<div class="container mt-5" >
    <h1>Success- ja Warning-olmoitukset</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, a, mollitia, provident blanditiis facere earum beatae iusto sint vero cumque autem quaerat eligendi minus. Fuga facere minus eveniet temporibus error ducimus, accusamus aperiam nam velit si
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, a, mollitia, provident blanditiis facere earum beatae iusto sint vero cumque autem quaerat eligendi minus. Fuga facere minus eveniet temporibus error ducimus, accusamus aperiam nam velit si</p>
    <div class="row">
        <div class="col-xl-6">
            <app-success-alert></app-success-alert>
        </div>
        <div class="col-xl-6">
            <app-warning-alert></app-warning-alert>
        </div>
    </div>
    <p>Mohamed Mahmoud <em><b>(capo)</b></em></p>
</div>

  